[Unit]
Description=wolfsmuehle server
After=network.target

[Service]
Type=simple
TimeoutSec=60
Restart=on-failure
RestartSec=10
User=gameserver
Group=gameserver
WorkingDirectory=/home/gameserver/wolfsmuehle
#Nice=5

ExecStart=/home/gameserver/wolfsmuehle/wolfsmuehle -r default -r room2 -r room3 -r room4 -r room5 -r room6 -r room7 -r room8

#Environment=RUST_BACKTRACE=1

[Install]
WantedBy=multi-user.target
