[Unit]
Description=wolfsmuehle server
After=network.target

[Service]
Type=simple
TimeoutSec=60
Restart=on-failure
RestartSec=10
User=gameserver
Group=gameserver
WorkingDirectory=/home/gameserver/wolfsmuehle
#Nice=5

ExecStart=/home/gameserver/wolfsmuehle/wolfsmuehle

#Environment=RUST_BACKTRACE=1

[Install]
WantedBy=multi-user.target
